<html>
  <head>
    <title>Demo</title>
  </head>
  <body>
    <h1>Demo</h1>
    <h2>Get Recommendations</h2>
    <%= form_with url: "/recommends", method: :get, local: true do |f| %>
      <% choices = {BEST_SELLERS: 0, RECOMMEND_FOR_YOU: 1} %>
      <%= f.select :recommender, choices, :selected=>@recommender %>
      <%= f.label :user_id, "USER ID"%>
      <%= f.text_field :user_id, value: @id, required: true, pattern: "^[0-9]+$" %>
      <%= f.label :size, "SHOWN ITEMS" %>
      <%= f.text_field :size, value: @size, required: true, pattern: "^[0-9]+$" %>
      <%= f.button "GET"%>
    <% end %>
    <table>
      <thead>
        <tr>
          <th>RANKING</th>
          <th>ITEM ID</th>
        </tr>
      </thead>
      <tbody>
        <% index = 1 %>
        <% for val in @res do %>
          <tr>
            <td><%= index %></td>
            <td><%= val.item_id %></td>
          </tr>
          <% index += 1 %>
        <% end %>
      </tbody>
    </table>
  </body>
</html>

